@theme {
  /* Colores UOC de tu PEC 2 */
  --color-uoc-corporate: #000078;
  --color-uoc-masterbrand: #73edff;
  
  /* Fuentes */
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-serif: "Georgia", "Times New Roman", serif;
}